@font-face {
    font-family: Kontur; 
    src: url(/fonts/Kontur.ttf); 
    src: local(Kontur), url(/fonts/Kontur.ttf);
   }
body
{
    width: 100%;
    /*margin: 0 10% 0 10%;*/
    font-family: Arial;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/*HEADER*/
#header
{
    width: 100%;
    min-width: 450px;
    height: 150px;
    position: absolute;
    display: block;
    z-index: 2;

    background-color: #2196F3;
    box-shadow: 0px 1px 6px #616161;
}
#label
{
    width: 20%;
    top: 25%;
    left: 4%;
    position: absolute;

    font-weight: 100;
    font-size: 34px;
    color: white;
}
#link-registration
{
    width: 155px;
    position: absolute;
    right: 4.1%;
    top: 50%;

    background: none;
    cursor: pointer;
}
#link-registration > a
{
    color: #ffffff;
}
/*HEADER*/

/*MENU*/
#menu
{
    width: 100%;
    min-width: 450px;
    min-height: 80px;
    margin: 150px 0 0 0;
    position: absolute;
    display: block;
    z-index: 1;

    text-align: center;
    background-color: #009688;
}
#menu > ul
{
    margin: 3% 0 3% 0;
}
#menu > ul > a
{
    margin-left: 20px;

    display: inline-block;
    text-decoration: none;
}
#menu > ul > a:hover
{
    text-shadow: 1px 1px 5px black;
}
#menu > ul > a:active
{
    text-shadow: 1px 1px 2px black;
}
#menu > ul > a > li
{
    width: 100%;
    
    font-size: 20px;
    color: #ffffff;
}
/*MENU*/

/*CONTENT*/
#content
{
    width: 100%;
    height: 1000px;
    margin: 18.5% 0 0 0;
    position: absolute;
    display: block;
    z-index: 2;

    background-color: #eeeeee;
    box-shadow: 0px -1px 6px #616161;
}
/*CONTENT*/

/*SCREEN 360-640*/
@media screen and (min-width:360px) and (max-width:1024px) {
body
{
    width: 100%;
    /*margin: 0 10% 0 10%;*/
    font-family: Arial;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
@font-face {
    font-family: Kontur; 
    src: url(/fonts/Kontur.ttf); 
    src: local(Kontur), url(/fonts/Kontur.ttf);
   }
/*HEADER*/
#header
{
    width: 100%;
    height: 300px;
    position: absolute;
    display: block;
    z-index: 2;

    background-color: #2196F3;
    box-shadow: 0px 1px 6px #616161;
}
#label
{
    width: 900px;
    position: absolute;
    top: 2%;
    left: 4%;

    font-weight: 100;
    font-size: 120px;
    color: white;
}
#link-registration
{
    width: 190px;
    position: absolute;
    right: 4.6%;
    top: 90%;

    background: none;
    cursor: pointer;
    font-size: 20px;
}
#link-registration > a
{
    color: #ffffff;
}
/*HEADER*/

/*CONTENT*/
#content
{
    width: 360px;
    height: 1000px;
    margin: 550px 10% 0 10%;
    position: absolute;
    display: block;
    z-index: 1;
    background-color: #000000;
}
#menu
{
    width: 100%;
    min-height: 160px;
    margin: 300px 0 0 0;
    position: absolute;
    display: block;
    z-index: 1;

    text-align: center;
    background-color: #009688;
}
#menu > ul
{
    margin: 10% 0 10% 0;
}
#menu > ul > a
{
    margin-left: 10px;

    display: inline-block;
    text-decoration: none;
}
#menu > ul > a > li
{
    width: 100%;
    
    font-size: 50px;
    color: #ffffff;
}
/*CONTENT*/
}